body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  line-height: 24px;
  letter-spacing: 2%;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.logo span {
  color: #4d5ae5;
}

ul {
  list-style: none;
}

nav a {
  font-size: 16px;
  font-weight: 500;
}

address {
  color: #434455;
  font-size: 16px;
}

h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 16px;
}
.hero-section {
  background-color: #2e2f42;
}

.hero-section-button {
  color: #ffffff;
  background-color: #4d5ae5;
}

.team-section {
  background-color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

footer a {
  color: #ffffff;
}
